<div class="menu">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button
        pButton
        (click)="openMenu = !openMenu"
        icon="pi pi-bars"
        class="p-button-text p-button-success"></button>
    </div>

    <div class="p-toolbar-group-right text-layout">
      <p>{{user.nombre | titlecase}}</p>
    </div>
  </p-toolbar>
</div>

<!-- sidebar -->
<p-sidebar
  [(visible)]="openMenu"
  [baseZIndex]="1000000"
>
  <div class="p-sidebar-lg">hola mundo</div>
</p-sidebar>