<div class="text-layout bg-blue-900 p-3 border-round">
  <div class="flex flex-column">

    <div class="flex align-items-center justify-content-between">
      <h3>{{ruta.nombre | titlecase}}</h3>
      <button
        pButton
        (click)="closeRuta(ruta.status)"
        class="p-button-outlined"
        [ngClass]="ruta.status ? 'p-button-success':'p-button-danger'"
      >{{ruta.status ? 'Abierta':'Cerrada'}}</button>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Clientes</div>
      <div class="col">{{ruta.clientes}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Cartera: </div>
      <div class="col">{{ruta.cartera | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Prestamos: </div>
      <div class="col">{{ruta.total_prestado | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Recaudo total: </div>
      <div class="col">{{ruta.total_cobrado | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Gastos: </div>
      <div class="col">{{ruta.gastos | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Inversiones: </div>
      <div class="col">{{ruta.inversiones | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Retiros: </div>
      <div class="col">{{ruta.retiros | currency:'GTQ'}}</div>
    </div>

    <div class="grid" *ngIf="!ruta.status">
      <div class="col flex justify-content-end">Ultimo cierre: </div>
      <div class="col">{{ruta.ultimo_cierre}}</div>
    </div>

    <div class="grid" *ngIf="ruta.status">
      <div class="col flex justify-content-end">Ultima apertura: </div>
      <div class="col">{{ruta.ultima_apertura}}</div>
    </div>

    <div class="grid">
      <div class="col">
        <button
          class="w-full p-button-text p-button-warning"
          pButton
          [routerLink]="['/admin/ruta', ruta.id]"
          label="Más información"
        ></button>
      </div>
    </div>

  </div>
</div>