<div class="main">
  <form (submit)="login()" [formGroup]="formLogin">
    <div class="grid">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input 
          type="text" 
          pInputText 
          placeholder="Usuario"
          formControlName="username">         
      </div>
    </div>

    <div class="grid mt-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input 
          type="password" 
          pInputText 
          placeholder="Contraseña"
          formControlName="password">         
      </div>
    </div>

    <div class="grid mt-3">
      <button 
        pButton 
        label="Ingresar" 
        type="submit" 
        class="col-12"
        [disabled]="loading"></button>
    </div>
  
  </form>
</div>