.pointer{
  cursor: pointer;
}

.toolbar{
  position: fixed;
  /* background-color: #214A4D; */
  top: 0;
  width: 100%;
  /* height: 30px; */
  right: 0;
  left: 0;
  z-index: 10000;
}

.btn-menu{
  margin-right: 8px !important;
}

/* .content{
  1775100
  margin-top: 125px;
} */

.main{
  margin-top: 100px;
}