<div class="main text-layout" *ngIf="cliente">
  <div class="card flex flex-column gap-1">

    <div class="title">
      <h1>{{cliente.nombre}}</h1>
      <button
        pButton
        label="Volver"
        class="p-button-outlined"
        routerLink="/main/rutero"
      >

      </button>
    </div>

    <div class="body">

      <div class="grid">
        <div class="col">Alias</div>
        <div class="col">{{cliente.alias}}</div>
      </div>

      <div class="grid">
        <div class="col">Direccion</div>
        <div class="col">{{cliente.direccion}}</div>
      </div>

      <div class="grid">
        <div class="col">Telefono</div>
        <div class="col">
          <a 
            href="tel:{{cliente.telefono}}"
            class="text-layout">{{cliente.telefono}}</a>
        </div>
      </div>

      <div class="grid">
        <div class="col">Dpi</div>
        <div class="col">{{cliente.dpi}}</div>
      </div>

      <hr>

      <div class="gri">
        <h3>Historial de pagos</h3>
        <app-historial-pagos 
          [idCliente]="cliente.id"
          [idCredito]="cliente.creditos[0]._id"></app-historial-pagos>
      </div>

    </div>

  </div>
</div>