<p-table [value]="creditos" *ngIf="creditos.length > 0; else loading" styleClass="p-datatable-striped" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Cliente</th>
      <th>Abono</th>
      <th>Saldo</th>
      <th>C. Pendientes</th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-credito>
    <tr>
      <td>{{credito.cliente.alias | titlecase}}</td>
      <td>{{credito.pagos[0].valor | currency:'GTQ' }}</td>
      <td>{{credito.saldo | currency:'GTQ'}}</td>
      <td>{{(credito.saldo / credito.valor_cuota) | number:'1.2-2'}}</td>
    </tr>
  </ng-template>
</p-table>

<ng-template #loading>
  <div class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>


<!-- <div class="main flex flex-column justify-content-center card-container blue-container gap-3"
      *ngIf="creditos.length > 0">
  <p-card 
  *ngFor="let item of creditos; let i = index"
  [subheader]="item.cliente.alias">
    <div class="grid">
      <div class="col">Ultimo pago: </div>
      <div class="col">{{item.pagos[0].valor | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col">Fecha: </div>
      <div class="col">{{item.pagos[0].fecha}}</div>
    </div>
  </p-card>
</div> -->