<div class="card" *ngIf="!loading">
  <app-search 
    placeholder="Buscar Cliente"
    (onDebounce)="sugerencias($event)"></app-search>

  <app-credito-table 
    [creditos]="creditos"
    *ngIf="creditos.length > 0"></app-credito-table>
</div>

<div 
  class="card"
  *ngIf="loading">
  <div class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div 
  class="loading flex flex-column justify-content-center"
  *ngIf="hayError">
  <h3 class="text-layout">Sin Resultados</h3>
</div>