<div class="card" *ngIf="!loading">
  <app-search 
    placeholder="Buscar Cliente"
    (onDebounce)="sugerencias($event)"></app-search>

  <app-credito-table 
    [creditos]="creditos"
    *ngIf="creditos.length > 0"></app-credito-table>
</div>

<div 
  class="loading flex flex-column justify-content-center"
  *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
  <p class="text-layout">Por favor Espere...</p>
</div>

<div 
  class="loading flex flex-column justify-content-center"
  *ngIf="hayError">
  <p class="text-layout">Sin Resultados</p>
</div>