<p-toast></p-toast>
<div class="card" *ngIf="pago">
  <div class="contenedor p-3 card-container flex flex-column justify-content-center gap-2">
      <div class="header grid flex align-items-center">
        <div class="col">
          <h3 
            [routerLink]="['/main/cliente', pago.cliente._id]"
            class="pointer">{{pago.cliente.nombre}}
          </h3>
        </div>
        <div class="col flex justify-content-end">
          <button pButton icon="pi pi-arrow-left" class="p-button-danger p-button-sm p-button-outlined" label="Volver" [routerLink]="['/main/verificados']"></button>
        </div>
      </div>


      <div>
        <h3>Pago Actual: {{pago.valor | currency:'GTQ'}}</h3>
      </div>

      <div class="content">
        <div class="grid">
          <div class="col">Nuevo Pago</div>
          <div class="col">
            <input
              type="number"
              pInputText
              [formControl]='valor'
              placeholder="Ingresa el nuevo pago"
            />
          </div>
          <div class="col">
            <button pButton label="Pagar" [disabled]="loading" (click)="digalogConfirm = true"></button>
          </div>
        </div>
      </div>
  </div>

  <p-dialog [(visible)]="digalogConfirm" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="pago">¿Esta seguro de actualizar el pago de <b>{{pago.cliente.nombre}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
        (click)="digalogConfirm = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmActualizar()"></button>
    </ng-template>
  </p-dialog>

  <div class="historial">
    <h3>Historial de pagos</h3>
    <app-historial-pagos
      [idCredito]="pago.credito._id"
      [idCliente]="pago.cliente._id"
    ></app-historial-pagos>
  </div>
</div>