<div class="card">
  <h3>Cajas</h3>
  <p-divider></p-divider>
  <p>Seleccion la fecha que deseas ver con el siguiente formato <strong>DD/MM/AAAA</strong></p>
</div>

<div class="card">
  <div class="flex flex-row gap-2">
    <p-calendar 
      [touchUI]="true" 
      [formControl]="fecha"
      [readonlyInput]="true" 
      [defaultDate]="today"
      placeholder="Seleccione una fecha"
      dateFormat="dd/mm/yy"
      inputId="touchui"></p-calendar>

    <p-button
      label="Buscar"
      icon="pi pi-search"
      (onClick)="buscar()"
    >
    </p-button>

    <button
      pRipple
      pButton
      type="button"
      label="Reset"
      (click)="reset()"
      class="p-button-raised p-button-danger"
    >
    </button>
  </div>

  <app-card-caja 
    *ngIf="cajas.length > 0"
    [cajas]="cajas"></app-card-caja>
</div>