<p-toast></p-toast>
<div class="card" *ngIf="caja; else loading">
  <div class="flex flex-column justify-content-center">

    <div class="grid">
      <div class="col flex justify-content-end">Fecha: </div>
      <div class="col">{{caja.fecha}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Base: </div>
      <div class="col">{{caja.base | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Inversion: </div>
      <div class="col">{{caja.inversion | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Retiro: </div>
      <div class="col">{{caja.retiro | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Gastos: </div>
      <div class="col">{{caja.gasto | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Pretendido: </div>
      <div class="col">{{caja.pretendido | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Cobro: </div>
      <div class="col">{{caja.cobro | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Extra: </div>
      <div class="col">{{caja.extra | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Total Cobrado: </div>
      <div class="col">{{(caja.cobro + caja.extra) | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Prestamo: </div>
      <div class="col">{{caja.prestamo | currency:'$'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Clientes: </div>
      <div class="col">{{caja.total_clientes}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Clientes Pendientes: </div>
      <div class="col">{{caja.clientes_pendientes}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Renovaciones: </div>
      <div class="col">{{caja.renovaciones}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Efectividad: </div>
      <div class="col">{{(caja.cobro * 100) / caja.pretendido | number:'1.2-2'}} %</div>
    </div>
    
    <div class="grid">
      <div class="col flex justify-content-end">Caja final: </div>
      <div class="col">{{caja.caja_final | currency:'$'}}</div>
    </div>

    <div class="grid mt-2">
      <button
        class="col"
        pButton
        label="Cerrar Ruta"
        (click)="dialogoCerrar = true"
      >

      </button>
    </div>

  </div>
</div>
<p-dialog 
  [(visible)]="dialogoCerrar" 
  [modal]="true" 
  header="Confirmar" 
  [style]="{width: '350px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="caja">¿Esta seguro de cerrar la ruta?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
      (click)="dialogoCerrar = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmCerrarRuta()"></button>
  </ng-template>
</p-dialog>
<ng-template #loading>
  <div class="card">
    <div class="loading">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</ng-template>
