<div class="main text-layout" *ngIf="caja; else loading">
  <div class="flex flex-column justify-content-center">

    <div class="grid">
      <div class="col flex justify-content-end">Fecha: </div>
      <div class="col">{{caja.fecha}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Base: </div>
      <div class="col">{{caja.base | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Inversion: </div>
      <div class="col">{{caja.inversion | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Retiro: </div>
      <div class="col">{{caja.retiro | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Gastos: </div>
      <div class="col">{{caja.gasto | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Pretendido: </div>
      <div class="col">{{caja.pretendido | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Cobro: </div>
      <div class="col">{{caja.cobro | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Extra: </div>
      <div class="col">{{caja.extra | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Prestamo: </div>
      <div class="col">{{caja.prestamo | currency:'GTQ'}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Clientes: </div>
      <div class="col">{{caja.total_clientes}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Clientes Pendientes: </div>
      <div class="col">{{caja.clientes_pendientes}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Renovaciones: </div>
      <div class="col">{{caja.renovaciones}}</div>
    </div>

    <div class="grid">
      <div class="col flex justify-content-end">Efectividad: </div>
      <div class="col">{{(caja.cobro * 100) / caja.pretendido | number:'1.2-2'}} %</div>
    </div>
    
    <div class="grid">
      <div class="col flex justify-content-end">Caja final: </div>
      <div class="col">{{caja.caja_final | currency:'GTQ'}}</div>
    </div>

    <div class="grid mt-2">
      <button
        class="col"
        pButton
        label="Cerrar Ruta"
        (click)="cerrarRuta()"
      >

      </button>
    </div>

  </div>
</div>
<ng-template #loading>
  <div class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
