<div class="main flex justify-content-center" *ngIf="!loading">
  <div class="card surface-overlay">
    <div class="title">
      <h2>Inversion</h2>
    </div>
    <div class="body card-container flex flex-column ustify-content-center gap-2">
      <p-inputNumber
        mode="currency"
        class="w-full"
        currency="GTQ"
        [formControl]="valor"
        locale="es-GT"
        [min]="0"
        placeholder="Ejemplo: Q.30.00"
      >
      </p-inputNumber>
      <textarea 
        cols="30" 
        rows="5"
        [formControl]="nota"
        placeholder="Ejemplo: Inversion por reajuste de caja" 
        pInputTextarea
        [autoResize]="true"></textarea>
        <button pButton label="Guardar" (click)="crearInversion()" [disabled]="loading"></button>
    </div>
  </div>
</div>
<div class="loading" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>
