<div class="main flex flex-column" *ngIf="!loading">

  <div class="header flex flex-row align-items-center justify-content-between">
    <button 
      pButton 
      icon="pi pi-arrow-left"
      routerLink="/main/rutero"
      class="p-button-text p-button-secondary"></button>
    <h2 class="text-layout">Nuevo Cliente</h2>
  </div>

  <form  
    class="card" 
    autocomplete="off" 
    (submit)="guardar()" 
    [formGroup]="formCliente">
    
    <div class="flex flex-column justify-content-center gap-2">
      <input 
        type="text" 
        pInputText
        placeholder="Dpi"
        formControlName="dpi">

        <input 
          type="text" 
          pInputText
          placeholder="Nombre"
          formControlName="nombre">
    
        <input 
          type="text" 
          pInputText
          placeholder="Alias" 
          formControlName="alias">
  
        <input 
          type="text"
          pInputText 
          formControlName="ciudad"
          placeholder="Ciudad">
        
        <input 
          type="text" 
          pInputText 
          formControlName="direccion"
          placeholder="Direccion">
      
        <input 
          type="text" 
          pInputText 
          formControlName="telefono"
          placeholder="Telefono">
   

      <div class="flex justify-content-center">
        <button pButton label="Guardar" type="submit" class="col-12" [disabled]="formCliente.invalid">
        </button>
      </div>
    </div>
  </form>
</div>

<div class="loading" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>