<p-toast></p-toast>
<div class="card flex flex-column" *ngIf="!loading">

  <div class="header flex flex-row align-items-center justify-content-between">
    <button 
      pButton 
      icon="pi pi-arrow-left"
      routerLink="/main/rutero"
      class="p-button-text p-button-secondary"></button>
    <h2 class="text-layout">Nuevo Cliente</h2>
  </div>

  <form  
    class="card" 
    autocomplete="off" 
    (submit)="dialogClienteNuevo = true" 
    [formGroup]="formCliente">
    
    <div class="flex flex-column justify-content-center gap-2">
      <input 
        type="text" 
        pInputText
        placeholder="Dpi"
        formControlName="dpi">

        <input 
          type="text" 
          pInputText
          placeholder="Nombre"
          formControlName="nombre">
    
        <input 
          type="text" 
          pInputText
          placeholder="Alias" 
          formControlName="alias">
  
        <input 
          type="text"
          pInputText 
          formControlName="ciudad"
          placeholder="Ciudad">
        
        <input 
          type="text" 
          pInputText 
          formControlName="direccion"
          placeholder="Direccion">
      
        <input 
          type="text" 
          pInputText 
          formControlName="telefono"
          placeholder="Telefono">
   

      <div class="flex justify-content-center">
        <button pButton label="Guardar" type="submit" class="col-12" [disabled]="formCliente.invalid">
        </button>
      </div>
    </div>
  </form>
</div>

<p-dialog
  [(visible)]="dialogClienteNuevo"
  [modal]="true"
  header="Confirmar"
  [style]="{width: '350px'}"
>
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Esta seguro de agregar a <b>{{formCliente.get('nombre').value}}</b>?</span>
  </div>

  <ng-template pTemplate="footer">
    <button 
      pButton 
      pRipple 
      icon="pi pi-times" 
      class="p-button-text" 
      label="No"
      (click)="dialogClienteNuevo= false"></button>
    <button 
      pButton 
      pRipple 
      icon="pi pi-check" 
      class="p-button-text" 
      label="Si" 
      (click)="confirmarClienteNuevo()"></button>
  </ng-template>
</p-dialog>

<div class="card" *ngIf="loading">
  <div class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>