.main-perfil {

  .banner{
    background-color: red;
    height: 100px;
    width: 100%;
  }

  .photo{
    width: 100px;
    position: relative;
    top: -50px;
    left: 10px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
  }
}