
<p-toolbar [ngStyle]="{'position': 'fixed', 'right': 0, 'left': 0, 'top': 0, 'z-index': 9000}">
  <div class="p-toolbar-group-left">
    <button
      pButton
      class="p-button-outlined"
      icon="pi pi-bars"
      (click)="openMenu = !openMenu"
    ></button>
  </div>

  <div class="p-toolbar-group-right">
    <button
      pButton
      class="p-button-text"
      icon="pi pi-user"
      (click)="menu.toggle($event)"
    ></button>
    <p-menu
      #menu
      [popup]="true"
      [model]="configUser"
    >
    </p-menu>
  </div>
</p-toolbar>

<app-sidebar [openMenu]="openMenu"></app-sidebar>

<div class="contenedor">
  <router-outlet></router-outlet>
</div>