<p-toast></p-toast>
<div class="card flex flex-column" *ngIf="!loading">
  <div class="flex flex-row justify-content-between align-items-center">
    <button
      pButton
      routerLink="/main/rutero"
      class="p-button-text p-button-secondary"
      icon="pi pi-arrow-left"
    ></button>

    <h3>Renovando a {{cliente?.nombre | titlecase }}({{cliente.alias | titlecase}}) </h3>

    
  </div>
  <div class="flex mb-3">
    <p-selectButton
      [formControl]="creditoManual"
      [options]="optionsCredito"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
  </div>
  <form 
    [formGroup]="creditoForm" 
    (ngSubmit)="dialogoRenovar = true"
    *ngIf="!creditoManual.value">

    <div class="flex flex-column gap-2">

      <input 
        type="number"
        pInputText
        [min]="1"
        placeholder="Valor Credito, Ejemplo: $1000000"
        formControlName="valor_credito" />
    
      <div class="flex flex-row gap-1">
        <input 
          pInputText
          class="w-6"
          type="number"
          placeholder="Interes, Ejemplo: 20"
          formControlName="interes"
          [min]="0" />
  
        <input
          class="w-6"
          pInputText
          type="number"
          placeholder="Cuotas, Ejemplo: 20"
          formControlName="total_cuotas"
          [min]="1" />
      </div>

      <textarea 
        type="text"
        pInputTextarea
        placeholder="Observaciones"
        formControlName="notas"
        rows="3"
        [autoResize]>
      </textarea>
    
      <div class="flex flex-wrap">
        <button 
          pButton 
          class="w-full"
          type="submit" 
          label="Ingresar" 
          [disabled]="creditoForm.invalid"></button>
      </div>

    

    </div>
  </form>

  <!-- credito manual -->
  <form 
    [formGroup]="creditoManualForm" 
    (ngSubmit)="dialogoRenovar = true"
    *ngIf="creditoManual.value">

    <div class="flex flex-column gap-2">

      <input 
        type="number"
        pInputText
        [min]="1"
        placeholder="Valor Credito, Ejemplo: $1000000"
        formControlName="valor_credito" />
    
      <div class="flex flex-row gap-1">
        <input 
          pInputText
          class="w-6"
          type="number"
          placeholder="Valor de la cuota, Ejemplo: 100"
          formControlName="valor_cuota"
          [min]="0" />
  
        <input
          class="w-6"
          pInputText
          type="number"
          placeholder="Cuotas, Ejemplo: 20"
          formControlName="total_cuotas"
          [min]="1" />
      </div>

      <textarea 
        type="text"
        pInputTextarea
        placeholder="Observaciones"
        formControlName="notas"
        rows="3"
        [autoResize]>
      </textarea>
    
      <div class="flex flex-wrap">
        <button 
          pButton 
          class="w-full"
          type="submit" 
          label="Ingresar" 
          [disabled]="creditoManualForm.invalid"></button>
      </div>

    

    </div>
  </form>
</div>

<p-dialog
  [(visible)]="dialogoRenovar"
  [modal]="true"
  header="Confirmar"
  [style]="{width: '350px'}"
>
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="cliente">Renovar a {{cliente.nombre | titlecase}} por {{creditoForm.get('valor_credito').value | currency:'GTQ'}}?</span>
  </div>

  <ng-template pTemplate="footer">
    <button 
      pButton 
      pRipple 
      icon="pi pi-times" 
      class="p-button-text" 
      label="No"
      (click)="dialogoRenovar= false"></button>
    <button 
      pButton 
      pRipple 
      icon="pi pi-check" 
      class="p-button-text" 
      label="Si" 
      (click)="confirmarRenovar(creditoManual.value)"></button>
  </ng-template>
</p-dialog>

<div class="card" *ngIf="loading">
  <div class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>