<div class="main text-layout flex flex-column">
  <div class="flex flex-row justify-content-between align-items-center">
    <button
      pButton
      routerLink="/main/rutero"
      class="p-button-text p-button-secondary"
      icon="pi pi-arrow-left"
    ></button>

    <h3>Renovando a {{cliente?.nombre | titlecase }}({{cliente.alias | titlecase}}) </h3>
  </div>
  <form 
    [formGroup]="creditoForm" 
    (ngSubmit)="confirm($event)">

    <div class="flex flex-column gap-2">

      <input 
        type="number"
        pInputText
        [min]="1"
        placeholder="Valor Credito, Ejemplo: 1000"
        formControlName="valor_credito" />
    
      <div class="flex flex-row gap-1">
        <input 
          pInputText
          class="w-6"
          type="number"
          placeholder="Interes, Ejemplo: 20"
          formControlName="interes"
          [min]="0" />
  
        <input
          class="w-6"
          pInputText
          type="number"
          placeholder="Cuotas, Ejemplo: 20"
          formControlName="total_cuotas"
          [min]="1" />
      </div>
    
      <div class="flex flex-wrap">
        <button 
          pButton 
          class="w-full"
          type="submit" 
          label="Ingresar" 
          [disabled]="creditoForm.invalid"></button>
      </div>

    </div>
  </form>
</div>
<!-- <p-toast></p-toast> -->
<p-confirmPopup></p-confirmPopup>