<div class="card flex flex-column" *ngIf="!loading">
  <div class="flex flex-row justify-content-between align-items-center">
    <button
      pButton
      routerLink="/main/rutero"
      class="p-button-text p-button-secondary"
      icon="pi pi-arrow-left"
    ></button>

    <h3>Renovando a {{cliente?.nombre | titlecase }}({{cliente.alias | titlecase}}) </h3>
  </div>
  <form 
    [formGroup]="creditoForm" 
    (ngSubmit)="crearCredito()">

    <div class="flex flex-column gap-2">

      <input 
        type="number"
        pInputText
        [min]="1"
        placeholder="Valor Credito, Ejemplo: 1000"
        formControlName="valor_credito" />
    
      <div class="flex flex-row gap-1">
        <input 
          pInputText
          class="w-6"
          type="number"
          placeholder="Interes, Ejemplo: 20"
          formControlName="interes"
          [min]="0" />
  
        <input
          class="w-6"
          pInputText
          type="number"
          placeholder="Cuotas, Ejemplo: 20"
          formControlName="total_cuotas"
          [min]="1" />
      </div>

      <textarea 
        type="text"
        pInputTextarea
        placeholder="Observaciones"
        formControlName="notas"
        rows="3"
        [autoResize]>
      </textarea>
    
      <div class="flex flex-wrap">
        <button 
          pButton 
          class="w-full"
          type="submit" 
          label="Ingresar" 
          [disabled]="creditoForm.invalid"></button>
      </div>

    

    </div>
  </form>
</div>

<div class="loading" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>