<div class="card" *ngFor="let ruta of rutas">
  <div class="flex flex-row align-items-center justify-content-between">
    <h5>{{ruta.nombre | titlecase}}</h5>
    <span class="p-buttonset">
      <button 
        pButton 
        pRipple 
        label="Abrir" 
        icon="pi pi-check"
        *ngIf="!ruta.status"
        (click)="openRuta(ruta.id)"></button>
      <button 
        pButton 
        pRipple 
        label="Cerrar" 
        icon="pi pi-key"
        *ngIf="ruta.status"></button>

      <button 
        pButton 
        pRipple 
        label="Bloquear" 
        icon="pi pi-lock"
        *ngIf="ruta.status"></button>
  </span>
  </div>
  <app-bar-chart [ruta]="ruta"></app-bar-chart>
</div>